/sms_timer.egg-info/PKG-INFO
/sms_timer.egg-info/SOURCES.txt
/sms_timer.egg-info/dependency_links.txt
/sms_timer.egg-info/entry_points.txt
/sms_timer.egg-info/not-zip-safe
/sms_timer.egg-info/top_level.txt
